<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <h1 style="float: right">Register Here</h1>
</nav>


<div  class ="card-place" style="padding-right: 40%; padding-left: 40%">
    <mdb-card style="flex: auto; justify-content: center">
      <mdb-card-title style="padding: 2%"><strong>Register</strong></mdb-card-title>
      <mdb-card-body>
        <form>
          <div>
            <input class="form-control mr-sm-2" type="text" placeholder="Email"  name="title" #emailRegister >
          </div>
          <br/>
          <div>
            <input class="form-control mr-sm-2" type="password" placeholder="Password"  name="title" #passwordRegister >
          </div>
          <br/>
        </form>
        <button style="align-content: center" class="btn" (click)="firebaseService.register(emailRegister.value, passwordRegister.value)">Sign up</button>
        <div style="color: red" *ngIf="accountErrorMessage">{{ accountErrorMessage }}</div><hr>

        <div>
          <button class="btn" routerLink ="/login" routerLinkActive="true">Sign in</button>
          <button style="float: right;" class="btn" routerLink ="/landing" routerLinkActive="true">Home</button>
        </div>
      </mdb-card-body>
    </mdb-card>
</div>

