.card-place{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6in;
}
.card{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4in;
  width: 4in;
}
.button-back{
  display: flex;
  padding: 2%;
}
.error{
  color: red;
}
